.Hero {
    margin: 0vw 8vw;
    margin-top: 33vh;



}

@media (max-width: 1024px) {

    /* Adjusting for tablets and below */
    .Hero {

        margin-top: 10vh;
    }
}





.hero-text {


    font-weight: 500;
    color: rgba(255, 255, 255, 0.601);
    font-size: 5rem;
    line-height: 1;
}

@media (max-width: 930px) {

    /*  14 Pro Max in landscape */
    .hero-text {
        font-size: 3rem;
        /* Smaller font size */
    }

    .hero-explore {
        margin-top: 5vh;
        /* Reduced vertical spacing */
        padding: 5px 5%;
        /* Adjusted padding */
    }

    .hero-explore p {
        font-size: 5px;
    }
}



.hero-explore {
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: center;
    width: fit-content;
    margin-top: 100px;
    padding: 0.2rem 0.5rem;
    padding-left: 30px;
    border-radius: 5vw;
    background-color: rgba(255, 255, 255, 0.764);
    cursor: pointer;

}

.hero-explore p {
    color: #292929;
    font-size: 15px;
    font-size: 500;
}

@media (max-width: 930px) {


    .hero-explore p {
        font-size: 0.8rem;
    }
}

.arrow-btn {

    height: 50px;
    width: auto;
}

.hero-dot-play {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dot {

    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 5px;
}

.hero-dot.lightblue {
    background-color: #0170b8;
}

.hero-dot.blue {
    background-color: #004685;
}

.hero-dot.red {
    background-color: #e82c19;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play p {
    color: white;
    font-size: 19px;

}