.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo {
    font-family: Outfit;
    font-size: 90px;
    font-weight: 100;
    color: white;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 25px;
    gap: 90px;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: white;
    color: #262626;
}

.background1 {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #0170b8;

}

.background2 {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #004685;

}

.background3 {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #e82c19;

}